@font-face {
  font-family: Bauhaus;
  src: url(Bauhaus\ Heavy\ BT.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto+Flex&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #3d087b;
}

.main-container {
  height: 100vh;
  /* background-color: #3d087b; */
  display: flex;
  justify-content: center;
  padding-top: 4vh;
  column-gap: 1.5rem;
}

.innercontainer1 {
  width: 40vw;
}

.clocklogo {
  margin-bottom: 3vh;
}

.clocklogo img {
  width: 11rem;
}

.timecard {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3% 4%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
  font-size: 1.2rem;
}

.card label {
  color: #3d087b;
  width: 15rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("img/downarrow.svg");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.card select {
  /* float: right; */
  color: #3d087bde;
  width: 18rem;
  height: 2.5rem;
  border-color: #ededed;
  border-radius: 3px;
  padding: 0.8rem;
}

.greet_block1 {
  width: 100%;
  height: 10%;
  background-color: #6a419a;
  color: #ffffff;
  padding: 4%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  font-family: Bauhaus, "Heavy";
}

.last-cont {
  display: flex;
  gap: 1.02rem;
}

#alarm-btn {
  width: 50%;
  height: 3.2rem;
  margin-top: 8px;
  border-style: none;
  border-color: #6e54ec;
  border-radius: 5px;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, #6e54ec 10%, #cb52f8 90%);
  color: #ffffff;
  transition: background-image 0.3s ease-out;
}

#alarm-btn:hover {
  background-image: linear-gradient(to right, #cb52f8 10%, #6e54ec 90%);
}

.schedule-box {
  background-color: #6a419a;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

.schedule-box > ul {
  list-style-type: none;
  color: #f25cfe;
  line-height: 1.5rem;
}

.innercontainer2 {
  width: 34vw;
}

.counter-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.counter-box1 {
  width: 100%;
  height: 6rem;
  background-color: #ededed;
  border-radius: 10px;
  padding: 3% 6%;
  display: flex;
  /* column-gap: 5%; */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.counter-box1 .colon {
  font-size: 3rem;
  line-height: 2rem;
  color: #8a11bf;
  width: 1.5rem;
  text-align: center;
}

.counter-box2 {
  width: 80%;
  height: 6rem;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  z-index: 5;
  top: 15%;
  opacity: 0.5;
}

.counter-box3 {
  width: 70%;
  height: 6rem;
  border-radius: 10px;
  background-color: #6a419a;
  position: absolute;
  z-index: 3;
  top: 25%;
  opacity: 0.5;
}

.text {
  width: 12%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3d087b;
  margin-right: 5%;
  font-size: 1.2rem;
}

.greet_block2 {
  width: 100%;
  height: 6rem;
  background-color: #ededed;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  color: #8e53f0;
  font-size: 1.8rem;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bauhaus, "Heavy";
}
.box {
  width: 18%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/timeline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tdigit {
  color: #8a11bf;
  font-size: 2.5rem;
}

.ttext {
  color: #5f0089;
  font-size: 1.5rem;
}

.time-div {
  margin-left: 5%;
  background-image: url("img/AM_svg.svg");
  color: #ffffff;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}

.window-img img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .main-container {
    height: 100vh;
  }

  .greet_block1 {
    font-size: 1.2rem;
  }

  .schedule-box > ul {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .card label{
    font-size: 0.9rem;
  }

  .greet_block2 {
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
  }
  .tdigit {
    font-size: 2rem;
  }
  .ttext {
    font-size: 1rem;
  }
  .counter-box1 .colon {
    font-size: 2rem;
  }
  .time-div{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    height: unset;
    flex-direction: column;
    align-items: center;
  }

  .innercontainer1 {
    width: 90%;
    margin-bottom: 5%;
  }

  .innercontainer2 {
    width: 90%;
  }
  
  .greet_block1{
    position: relative;
    top: 30.5rem;
  }

  .greet_block2 {
    font-size: 1.5rem;
    position: relative;
    bottom: 31rem;
  }

  .counter-box1{
    position: relative;
    bottom: 31rem;
  }

  .counter-box2{
    top: unset;
    bottom: 30.4rem;
  }

  .counter-box3{
    top: unset;
    bottom: 29.8rem;
  }

  .timecard{
    position: relative;
    top: 16rem;
    margin-bottom: 2rem;
  }

  .window-img{
    position: relative;
    bottom: 11rem;
    margin-top: 1.2rem;
  }
  
  .last-cont{
    position: relative;
    top: 30.5rem;
  }
}
